
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - My ASP.NET Core Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/First/Index1">First</a>
            <a href="/Second/Index1">Second</a>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; 2024 - My ASP.NET Core Application</p>
    </footer>
</body>
</html>
